.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* Responsive */
@media screen and (max-width: 992px) {
  .conainer {
  width: 100%;
  }

  .row {
  width: 100%;
  }
}

/* BLOCCO LEZIONI */

#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

/* Responsive */
@media screen and (max-width: 677px) {
  #lezioni .row>.left {
    width: 100%;
    margin-bottom: 20px;
  }
  #lezioni .row>.right {
    width: 100%;
  }
}


#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/* Responsive */

@media screen and (max-width: 992px) {
  #lezioni .row .left img {
   width: calc(200 / 496 * 100% );
  }

  #lezioni .row .right img {
    width: calc(327 / 496 * 100% );
  }
}

@media screen and (max-width: 677px) {
  #lezioni .row .left img {
    max-width: 133px;
    margin-bottom: 20px;
  }
  #lezioni .row .right img {
    max-width: 218px;
  }
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

/* Responsive */
@media screen and (max-width: 677px) {
  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    width: 50%;
  }

  #steps .row>.right {
    float: none;
    margin: auto;
  }
}

@media screen and (max-width: 420px) {
  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    width: 100%;
  }
}

#steps {
  text-align: center;
}

/* Responsive */
@media screen and (max-width: 992px) {
  #steps .row img {
    width: calc(200 / 992 * 300% );
    max-width: 200px;
  }
}

@media screen and (max-width: 677px) {
  #steps .row img {
    width: calc(200 / 992 * 300% );
    max-width: 133px;
  }

  #steps .row > div:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 420px) {
  #steps .row img {
      max-width: 133px;
  }
}
/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* Responsive */
@media screen and (max-width: 992px) {
  #why .row img {
  width: calc(200 / 992 * 100% );
  padding: calc(30 / 200 *(200 / 992 * 100% ))
  }
}

@media screen and (max-width: 677px) {
  #why .row img {
  width: calc(200 / 677 * 100% );
  padding: calc(30 / 200 *(200 / 677 * 100% ));
  max-width: 133px;
  }
}
/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

/* Responsive */
@media screen and (max-width: 992px) {
  img {
    height: auto;
    max-height: 200px;
  }
}

.clear {
  clear: both;
}
